{{>layouts/header}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
        {{#memberList}}  <!-- 여러 데이터의 묶음이면 반복실행됨 -->
            <tr>
                <td>{{id}}</td>
                <td><a href="/members/{{id}}">{{email}}</a></td>
                <td>{{password}}</td>
            </tr>
        {{/memberList}}
    </tbody>
</table>
<a href="/signup">회원가입</a>
{{>layouts/footer}}